/***********************************************/
/** CASAA Interface Styles                    **/
/** Author: todd.zmijewski (tzmijewski)       **/
/** Date: 4.19.2011                           **/
/***********************************************/
/*
* --------------------------------------------------------------------------------
* casaa_main tpl  ----------------------------------------------------------------
* --------------------------------------------------------------------------------
*/
#casaa-section-main ul,
#casaa-section-main dl,
#casaa-section-main dd,
#casaa-section-main dt {
	/* reset within casaa scope */
	padding: 0;
	margin: 0;
	list-style: none;
}

#casaa-section-main dl,
#casaa-section-main dt,
#casaa-section-main dd {
	display: block;
}

#casaa-section-main a:link {
	color: #027AC6;
	text-decoration: none;
	font-weight: bolder;
}

	#casaa-section-main a:hover {
		color: #333333;
		text-decoration: underline;
	}

#casaa-section-main {
	/*background-color: red;*/
	
	/* approx 314px @ 14px font-size - 1em gutter */
	margin-left: 22em;
}

ul#casaa-domains {
	/*background-color: #cccccc;*/
	/*border: 1px solid white;*/
	
	/* move domain menu to left side */
	float: left;
	position: relative;
	margin-left: -22em;
	width: 21em; /* leave 1em room for gutter */
	
	min-height: 19em;
}

	ul#casaa-domains li {
		/*border-bottom: 1px solid #cccccc;*/
		padding: 2px 0;
	}

	ul#casaa-domains li a {
		display: block;
		padding: .25em .5em;
		font-weight: bolder;
		text-decoration: none;
		background-color: white;
		color: #cccccc;
	}
	
		ul#casaa-domains li.active a {
			color: #333333;
			border: 1px solid #cccccc;
		}

ul#casaa-move {
	/*background-color: green;*/
	
	/* move export/import links to the far right */
	float: right;
	
	margin: 0 0 .35em 0;
}

	ul#casaa-move li {
		display: inline-block;
		
		/* FF2 display inline-block fix (won't affect other browsers) */
		display: -moz-inline-stack;
	}
	
	* html ul#casaa-move li { /* IE6 display inline-block fix */
		display: inline;
	}
	
	*+html ul#casaa-move li { /* IE7 display inline-block fix */
		display: inline;
	}
	
	ul#casaa-move li a {
		display: block;
		padding: .5em 1em;
		
		border: 1px solid #cccccc;
		background-color: white;
	}

#casaa-section-main a.search {
	display: block;
	
	/* move search link to the far left */
	float: left;
	
	margin: 0 0 .35em 0;
	padding: .5em 1em;
	
	border: 1px solid #cccccc;
	background-color: white;
}

dl#casaa-manage-term-mappings {
	clear: right;
	
	/* move term management section to left side */
	float: left;
	width: 49%;
	
	/* provide context to absolutely position create link */
	position: relative;
	
	/*background-color: yellow;*/
	border: 1px solid #cccccc;
	background-color: white;
	
	min-height: 19em;
}

	* html #casaa-manage-term-mappings { /* IE6 min-height hack */
		height: 19em;
	}

dl#casaa-manage-path-mappings {
	clear: right;
	
	/* move path management section to right side */
	margin-left: 51%;
	width: 49%;
	
	/* provide context to absolutely position create link */
	position: relative;
	
	/*background-color: blue;*/
	border: 1px solid #cccccc;
	background-color: white;
	
	min-height: 19em;
}

	* html #casaa-manage-path-mappings { /* IE6 min-height hack */
		height: 19em;
	}

	/* term and path management headings */
	#casaa-manage-path-mappings dt,
	#casaa-manage-term-mappings dt {
		color: #333333;
		font-size: 1.75em;
		font-weight: bolder;
		
		padding: .5em 0 .5em .25em;
	}
	
	#casaa-manage-path-mappings dt a,
	#casaa-manage-term-mappings dt a {
		font-weight: bolder;
		text-decoration: none !important;
		
		/* move create links to top right corner */
		position: absolute;
		top: .5em;
		right: .5em;
	}
	
	#casaa-manage-path-mappings ul,
	#casaa-manage-term-mappings ul {
		margin: 0 0 1em .5em;
	}

/*
* Apply CSS3 rounded-corners to browsers that support it
*/
#casaa-manage-path-mappings,
#casaa-manage-term-mappings,
ul#casaa-move li a,
#casaa-section-main a.search,
ul#casaa-domains li a {
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-border-radius: .5em;
}

/*
* ---------------------------------------------------------------------------------------
* casaa_global tpl ----------------------------------------------------------------------
* ---------------------------------------------------------------------------------------
*/
#casaa-section-global ul,
#casaa-section-global dl,
#casaa-section-global dd,
#casaa-section-global dt {
	/* reset uls within casaa scope */
	padding: 0;
	margin: 0;
	list-style: none;
}

#casaa-section-global dl,
#casaa-section-global dt,
#casaa-section-global dd {
	display: block;
}

#casaa-section-global {
	background-color: white;
	border: 1px solid #cccccc;
	
	/* approx 314px @ 14px font-size - 1em gutter */
	margin-left: 22em;
	
	min-height: 19em;
}

	* html #casaa-section-global { /* IE6 height behaves like min-height */
		height: 19em; 
	}

div#casaa-plugins {
	/*background-color: #cccccc;*/
	/*border: 1px solid white;*/
	
	/* move domain menu to left side */
	float: left;
	position: relative;
	margin-left: -22em;
	width: 21em; /* leave 1em room for gutter */
	
}

	div#casaa-plugins dl {
		background-color: white;
		margin-top: .45em;
	}
	
		div#casaa-plugins dl:first-child {
			margin-top: 0;
		}
		
		div#casaa-plugins dl.active {
			border: 1px solid #cccccc;
		}
	
	div#casaa-plugins dt a { /* domain name */
		display: block;
		padding: .25em .5em;
		font-weight: bolder;
		text-decoration: none;	
		color: #cccccc;
	}
	
		div#casaa-plugins dl.active dt a {
			color: #333333;
		}
	
	div#casaa-plugins ul {
		padding: 0 .5em;
		margin: 0 0 .5em 0;
		line-height: 1.6;
	}
	
	div#casaa-plugins ul a {
		display: block;
		text-decoration: none;
		color: #cccccc;
	}
	
		div#casaa-plugins dl.active ul a {
			color: #027AC6;
		}
	
		div#casaa-plugins dl.active ul li.active a {
			color: #333333;
			font-weight: bolder;
		}
		
		div#casaa-plugins ul a:hover {
			color: #333333;
			text-decoration: underline;
		}
	
div#casaa-section-form {
	padding: .5em 1em;
}

div#casaa-section-form #casaa-status-form {
	height: 2em;
}

/*
* Apply CSS3 rounded-corners to browsers that support it
*/
#casaa-section-global,
div#casaa-plugins dl {
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-border-radius: .5em;
}